<div style="margin:0 auto; left:0px; padding:15px 75px 15px 75px">
<% if @current_user.is_admin? %>

    <h3>Nowy użytkownik</h3>

    <%= render 'form' %>
<%else%>
    <blockquote>
      <p class="text-danger">Nie masz wystarczających uprawnień do podglądu tej strony</p>
    </blockquote>
<%end%>
</div>