<div style="margin:0 auto; left:0px; padding:5px 55px 5px 55px">
<h3>Nowa książka</h3>

<%= render 'form' %>

<%= link_to 'Powrót', books_path, :class => "btn btn-info", :style => "color: #ffffff"%>
</div>