/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

.btn-purple
  background: #9b59b6
  border-color: #9b59b6

.btn-purple: hover
  background: #8e44ad
  border-color: #8e44ad

.btn-white-text
  color: #000000

.btn-white-text: hover
  color: #ffffff

section
  overflow: auto

.color-white
  color: #ffffff

textarea
  resize: vertical

.center
  text-align: center

.center h1
  margin-bottom: 10px

.float_btn
  float: left
  margin-left: 20px
  padding-left: 30px

.btn-xlg
  font-size: 14px
  background-color: #5D6D7E
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  border: none
  
.btn-xlg: hover
  color: #fff
  background-color: #2E86C1 !important
  border-radius: 3px

body 
  padding-top: 50px
  font-family: 'Open Sans', sans-serif
  background-image: image-url('background-library.jpg')
  background-size: cover
  background-position: top -150px center 
  background-color: #060606            
  background-repeat: no-repeat
  text-align: center  

form
  display: inline-block